In [2]:
import sklearn
import pandas as pd
url = 'http://raw.githubusercontent.com/justmarkham/DAT8/master/data/beer.txt'
beer= pd.read_csv(url,sep=' ') #บอกคั่นตัวเลขด้วยช่องว่าง

In [4]:
beer

                    name  calories  sodium  alcohol  cost
0              Budweiser       144      15      4.7  0.43
1                Schlitz       151      19      4.9  0.43
2              Lowenbrau       157      15      0.9  0.48
3            Kronenbourg       170       7      5.2  0.73
4               Heineken       152      11      5.0  0.77
5          Old_Milwaukee       145      23      4.6  0.28
6             Augsberger       175      24      5.5  0.40
7   Srohs_Bohemian_Style       149      27      4.7  0.42
8            Miller_Lite        99      10      4.3  0.43
9        Budweiser_Light       113       8      3.7  0.40
10                 Coors       140      18      4.6  0.44
11           Coors_Light       102      15      4.1  0.46
12        Michelob_Light       135      11      4.2  0.50
13                 Becks       150      19      4.7  0.76
14                 Kirin       149       6      5.0  0.79
15     Pabst_Extra_Light        68      15      2.3  0.38
16                 Hamms       139      19      4.4  0.43
17   Heilemans_Old_Style       144      24      4.9  0.43
18   Olympia_Goled_Light        72       6      2.9  0.46
19         Schlitz_Light        97       7      4.2  0.47

In [5]:
beer.shape #beer.describe

(20, 5)

In [7]:
beer.isnull().sum() #check data ที่ไม่มี

name        0
calories    0
sodium      0
alcohol     0
cost        0
dtype: int64

In [ ]:
#Clustering จะใช้แค่ data ที่เป็นตัวเลข

In [8]:
X=beer.drop('name',axis=1) #delete name string

In [9]:
X #X is dataframe

    calories  sodium  alcohol  cost
0        144      15      4.7  0.43
1        151      19      4.9  0.43
2        157      15      0.9  0.48
3        170       7      5.2  0.73
4        152      11      5.0  0.77
5        145      23      4.6  0.28
6        175      24      5.5  0.40
7        149      27      4.7  0.42
8         99      10      4.3  0.43
9        113       8      3.7  0.40
10       140      18      4.6  0.44
11       102      15      4.1  0.46
12       135      11      4.2  0.50
13       150      19      4.7  0.76
14       149       6      5.0  0.79
15        68      15      2.3  0.38
16       139      19      4.4  0.43
17       144      24      4.9  0.43
18        72       6      2.9  0.46
19        97       7      4.2  0.47

In [10]:
x=X.values

In [12]:
from sklearn import KMeans #ยังไม่ได้ลง lib KMeans
km=KMeans(n_clusters=2)
km.fit(X)  #km.fit(x) ใช้ได้ทั้งสอง

ImportError: cannot import name 'KMeans' from 'sklearn' (C:\Users\ASUS\anaconda3\lib\site-packages\sklearn\__init__.py)

In [ ]:
km.labels_

In [ ]:
beer['cluster',] #how to add beer.cluster in beer

In [ ]:
#How to clustering of calories and alcohol

In [ ]:
centers = km.cluster_centers_
centers

In [ ]:
c1=center[:,0].T
c2=center[:,2].T

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
colors=np.array(['blue','red'])
plt.scatter(beer.calories,beer.alcohol,c=colors[list(beer.cluster)])
plt.scater(c1,c2,c='black')
plt.xlabel('calories')
plt.ylabel('alcohol     ')
plt.show

In [ ]:
from sklearn.metrics import silhouette_score
scores =[]
k_range = range(2,20)
for k in k_range:
    km=Kmeans(n_clusters=k)
    km.fit(X)
    scores.append(silhouette_score(X,km.labels_))
plt.plot(k_range,scores)